.App {
  text-align: center;
}

.table {
  border: 1px solid black;
  margin: auto;
}
.tablecells {
  width: max-content;
  border: 1px solid black;
}
.tablecells th,
.tablecells td {
  min-width: 200px;
  width: max-content;
  border: 1px solid black;
}
